{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/subject.js') }}"></script>
<body>
  <div class="container">        
      {% include 'left_menus.html' %}    
	  <div class="content">
		<div class="container-fluid">   	
			<div class="row">
				<a href="#"><strong><span class="ti-crown"></span> Edit Subject</strong></a>
				<hr>
				<form method="post" action="{{ url_for('save_subject') }}">
					<input type="hidden" name="subjectid" value="{{ subject[0] }}">  <!-- subject_id -->
					<div class="form-group">
						<label for="subject">Subject*</label>
						<input type="text" class="form-control" id="subject" name="subject" value="{{ subject[1] }}" required>
					</div>
					<div class="form-group">
						<label for="s_type" class="control-label">Subject Type*</label><br>							
						<label class="radio-inline">
							<input type="radio" name="s_type" id="theory" value="Theory" 
							{% if subject[2] == 'Theory' %}checked{% endif %} required>Theory
						</label>
						<label class="radio-inline">
							<input type="radio" name="s_type" id="practical" value="Practical" 
							{% if subject[2] == 'Practical' %}checked{% endif %} required>Practical
						</label>							
					</div>
					<div class="form-group">
						<label for="code">Code*</label>
						<input type="text" class="form-control" id="code" name="code" value="{{ subject[3] }}" required>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="subjectid" id="subjectid" value="{{subject.subject_id}}" />
						<input type="hidden" name="action" id="action" value="updateSubject" />
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<a href="{{ url_for('subject') }}" class="btn btn-secondary" role="button">Cancel</a>
					</div>
				</form>						
				</div>	
			</div>
		</div>	
	</div>
 
  </body>
</html>